.nav,
.dm,
.main-content {
	width: 1200px;
	margin: 0 auto;
}


/*logo区*/

.header {
	min-width: 1200px;
	width: 100%;
	height: 114px;
	border-top: solid 6px #1a3168;
	background: url(../img/header.png) no-repeat center center;
	background: url(../img/header.png) no-repeat center center, url(../img/headbg.png) repeat-x;
}

.header-content {
	width: 1200px;
	height: 100%;
	/*background-color: blue;*/
	margin-left: auto;
	margin-right: auto;
	padding-top: 21px;
	box-sizing: border-box;
}


/*导航区*/

.nav {
	height: 60px;
	border-top: solid 1px #e5e5e5;
	/*background-color: red;*/
}

.nav>ul {
	/*background-color: red;*/
	line-height: 40px;
	height: 40px;
	margin-top: 10px;
	float: right;
	font-size: 0;
}

.nav>ul>li {
	width: 120px;
	background-color: #1a3168;
	text-align: center;
	font-size: 18px;
	margin-left: 2px;
	border-radius: 7px 7px 0 0;
	position: relative;
}

.nav>ul>li>a {
	color: #FFF;
	width: inherit;
	border-radius: 7px 7px 0 0;
}

.nav>ul>li>a:hover {
	background-color: orange;
}

.nav>ul>li>a:hover+ul,
.sub-nav:hover {
	display: block;
}

.sub-nav {
	background-color: #FFF;
	position: absolute;
	width: 486px;
	box-sizing: border-box;
	padding-left: 20px;
	font-size: 12px;
	text-align: left;
	border-radius: 0 0 7px 7px;
	display: none;
	z-index: 1;
}

.sub-nav-right-align {
	right: 0;
}

.sub-nav li {
	width: 150px;
	line-height: 1;
}

.sub-nav li a {
	color: #000;
	word-wrap: break-word;
	/*width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
}

.sub-nav li a:hover {
	text-decoration: underline;
}


/*动态图片区*/

.dm {
	height: 402px;
	position: relative;
}

.dm img {
	width: 100%;
	height: 100%;
}

.left-arrow,
.right-arrow {
	width: 40px;
	height: 46px;
	position: absolute;
	top: 178px;
	opacity: 0.2;
}

.left-arrow:hover,
.right-arrow:hover {
	opacity: 1;
}

.left-arrow {
	left: 20px;
	background: url(../img/left_btn.png);
}

.right-arrow {
	right: 20px;
	background: url(../img/right_btn.png);
}


/*主内容区样式*/

.main-content {
	margin-top: 10px;
}

.main-content-news,
.main-content-notices {
	height: 320px;
}


/*新闻区样式*/

.main-content-news {
	width: 880px;
	float: left;
	border-top: 6px solid #1a3168;
	background: url(../img/sep.png) no-repeat 430px 56px, url(../img/sep.png) no-repeat 874px 56px;
}

.main-content-news>h1 {
	background: url(../img/news-title-bg.png) no-repeat 0 5px;
	font-size: 18px;
	font-weight: normal;
	color: #1A3168;
	margin-top: 10px;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 6px;
}

.main-content-news>h1>a {
	color: inherit;
	float: right;
	font-size: 15px;
}

.main-content-news>h1>a:hover {
	text-decoration: underline;
}

.more:after {
	content: ">>";
}

.main-content-news>ul {
	font-size: 14px;
	color: #000;
}

.main-content-news>ul time {
	font-size: 12px;
	float: right;
}

.main-content-news li {
	width: 390px;
	background: url(../img/dot.png) no-repeat 0 50%;
	padding-left: 10px;
	margin-top: 20px;
}

.right-li {
	margin-left: 50px;
}

.main-content-news li>a {
	color: inherit;
	width: 280px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main-content-news li>a:hover {
	text-decoration: underline;
	color: red;
}


/*公告区*/

.main-content-notices {
	width: 310px;
	float: right;
	border-top: 6px solid orange;
	/* background-color: #EEE; */
}
.aaa{
	width: 210px;
	height: 100%;
	/* background-color: red; */
	float: left;
	padding-top: 8px;
}
.bbb{
	box-sizing: border-box;
	padding-top: 11px;
	float: right;
	height: 100%;
	width: 80px;
	/* background-color: #EEEEEE; */
}
.bbb>p{
	margin: 3px auto 5px auto;
	text-align: center;
	font-size: 14px;
}
.aaa>ul{
	font-size: 0px;
}
.aaa>ul>li{
	/* background-color: #aaa; */
	/* border-radius: 4px; */
	/* border: 1px solid #1A3168; */
	line-height: 20px;
	font-size: 16px;
	cursor: pointer;
}

.li2{
	margin-left: 60px;
}
.aaa>ol{
	text-align: center;
	padding-left: 1px;
}
.aaa>ol>li{
	text-align: left;
	width: 202px;
	background-color: #e7f2f9;
	border-radius: 7px;
	margin-top: 10px;
}
.aaa>ol>li>a{
	width: 190px;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.aaa>ol>li>a:hover{
	text-decoration: underline;
	cursor: pointer;
}
.moree::after{
	content: ">>";
}
.moree{
	text-align: right;
}
.li1{
	color: #1a3168;
}
.li2{
	color: orange;
}
.ol1{
	display: block;
}
.ol2{
	display: none;
}